<footer class="site-footer">
  <div class="logo-div">
    <img src="/assets/favicon-light.svg" alt="logo" class="logo-learn" />
    <p class="site-title">Learn</p>
  </div>
  <p>© 2023 djfor5. All rights reserved.</p>
</footer>