    <header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
      <div class="logo-div">
        <img src="/assets/favicon.svg" alt="logo" class="logo-learn" />
        <span class="site-title">Learn</span>
      </div>
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>